@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #F3F2C9;
}

.resume{
    width: 1200px;
    background: #fff;
    margin: 25px auto;
    display: flex;
}

.left{
    background: #003638;
    width: 360px;
    padding: 0 20px;
}

.right{
    width: calc(100% - 360px);
}

.left .img{
    text-align: center;
    padding: 20px 0;
}

.left .img img{
    width: 230px;
    border-radius: 80px;
    border: 10px solid #F3F2C9;
}

.pb{
    padding-bottom: 20px;
}

.title{
    font-size: 23.5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #53B8BB;
    position: relative;
    text-align: left;
    margin-bottom: 20px;   
}

.left .title:before{
    content: "";
    position: absolute;
    top: 55px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #53B8BB;
}

.left .icon{
    font: 20px;
    color: #003638;
}

.left .text{
    text-transform: uppercase;
    font-size: 15px;
}

.contact_wrap .title{
    margin-top: 20px;
}

.contact .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.contact .li_wrap .icon{
    width: 30px;
    height: 30px;
    background: rgb(242, 245, 227);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.contact .li_wrap .text{
    width: calc(100% - 50px);
    word-break: break-word;
    color: #F3F2C9;
}

.contact .li_wrap:hover .icon{
    font-size: larger;
    box-shadow: inset 0 0 5px #53B8BB;
}

.contact .li_wrap:hover .text{
    font-weight: bolder;
}

.container{
    width: 100%;
    background-color: #F3F2C910;
    align-items: center;
    border-radius: 10px;
}


a {
    text-decoration: none;
}

.left a:visited{
    text-decoration: none;
    color: #F3F2C9;
}

.right a:visited{
    text-decoration: none;
    color: #055052;
}

.right .pub a:visited{
    text-decoration-skip: none;
    color: #F3F2C9;
}

a:hover{
    font-weight: bolder;
}

.interests ul .text{
    list-style: circle;
    margin-left: 20px;
    line-height: 20px;
}

.skills .text{
    width: calc(100% - 50px);
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(242, 245, 227);
    word-break: break-word;
}

.skill{
    text-align: right;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    color: #F3F2C9;
}

.skills .text:hover{
    font-weight: bolder;
}

.python{width: 75%; border-radius: 5px; background-color: #F3F2C9;;}
.ArcGIS{width: 65%; border-radius: 5px; background-color: #F3F2C9;;}
.HEC-RAS{width: 45%; border-radius: 5px; background-color: #F3F2C9;;}
.HEC-HMS{width: 40%; border-radius: 5px; background-color: #F3F2C9;;}
.ANSYS{width: 60%; border-radius: 5px; background-color: #F3F2C9;;}
.Flow3D{width: 50%; border-radius: 5px; background-color: #F3F2C9;;}
.PhotoShop{width: 90%; border-radius: 5px; background-color: #F3F2C9;;}
.office{width: 85%; border-radius: 5px; background-color: #F3F2C9;;}

.lan{
    text-align: center;
}

.widget .text{
    color: #F3F2C9;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 40%
}

.lan .widget:hover{
    background: #f3f2c990;
}

.lan .widget:hover .text{
    color: #003638;
    font-weight: bolder;
}

.widget{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 5px;
    border: 4px solid rgb(242, 245, 227);
    border-radius: 100px;
    align-content: center;
    text-align: center;
}

.widget:nth-child(1){
    border-left-color: rgb(242, 245, 227);
    border-top-color: rgb(242, 245, 227);
    border-right-color: rgb(242, 245, 227);
    border-bottom-color: rgb(242, 245, 227);
}

.widget:nth-child(2){
    border-top-color: rgb(78, 78, 78);
    border-left-color: rgb(242, 245, 227);
    border-right-color: rgb(242, 245, 227);
    border-bottom-color: rgb(242, 245, 227);
}

.widget:nth-child(3){
    border-top-color: rgb(78, 78, 78);
    border-bottom-color: rgb(78, 78, 78);
    border-right-color: rgb(78, 78, 78);
    border-left-color: rgb(242, 245, 227);
}

.extra ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.extra .li_wrap{
    width: 150px;
    height: 80px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: solid #F3F2C9;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extra .li_wrap .text{
    margin-top: 5px;
    color: #F3F2C9;
}

.extra_wrap .title:before{
    top: 80px;
}

.extra .li_wrap .icon{
    color: rgb(242, 245, 227);
    
}

.extra .li_wrap:hover{
    background: #F3F2C990;
}

.extra .li_wrap:hover .icon,
.extra .li_wrap:hover .text{
    color: #003638;
    font-weight: bolder;
}

.interests .text{
    color: rgb(242, 245, 227);
    margin-top: 10px;
}

.interests .text:hover{
    font-weight: bolder;
}


.ref .li_wrap{
    background: rgba(128, 128, 128, 0.3);
    border: 0;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 0;
    align-content: center;
    margin-bottom: 15px;
}

.ref .li_wrap:hover{
    background-color:  rgba(128, 128, 128, 0.1);
}

.ref .text{
    color: rgb(242, 245, 227);
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ref .pos{
    color: #F3F2C9;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.ref .loc{
    color: white;
    word-spacing: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.ref ul{
    margin-top: 10px;
    margin-bottom: 5px;
}

.header{
    background: #003638;
    color: rgb(242, 245, 227);
    padding: 15px 30px;
    height: 280px;
}

.header .name{
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    color: #53B8BB;
}

.header .role{
    font-size: 25px;
    font-weight: 300;
}

.header .about{
    margin-top: 20px;
    margin-right: 30px;
    line-height: 26px;
    text-align: justify;
    text-justify: inter-word;
}

.header .about:hover{
    font-size: larger;
}

.right_inner{
    padding: 30px;
    color: #003638;
}

.right .title{
    font-size: 25px;
    text-align: right;
    color: #055052;
}

.right .title:before{
    content: "";
    position: absolute;
    top: 60px;
    right: 0;
    width: 50px;
    height: 3px;
    background: #055052;
}


.right_inner .exp,
.right_inner .pub{
    margin-top: 35px;

}

ul .cont{
    list-style: square;
    margin-left: 20px;
    line-height: 20px;
}

.exp ul li .cont{
    margin-bottom: 10px;
}

.edu ul li .cont,
.pub ul li .cont{
    margin-bottom: 15px;
}

.right_inner .li_wrap{
    display: flex;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 30px;
}

.right_inner .li_wrap .date{
    width: 125px;
    color: #055052;
}

.right_inner .li_wrap .info{
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}

.right_inner .li_wrap .info_title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #003638;
}

.right_inner .li_wrap .info_com{
    font-weight: 300;
    font-size: 20px;
    margin-top: 3px;
    color: rgb(70, 66, 70);
}

.right_inner .li_wrap .info:before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #003638;
    border-radius: 50%;
}

.right_inner .li_wrap .info:after{
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: #003638;
}

.info_cont_title{
    color: #000;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 15px;
}

.info_cont{
    margin-top: 15px;
    margin-left: 15px;
    line-height: 26px;
    color: #000;
}

.sub_cont{
    margin-left: 25px;
    margin-top: 5px;
    color: rgb(78, 78, 78);
}

.pub .cont a:link,
.pub .cont a:visited{
    border: 3px solid #53B8BB;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    color: #003638;
}

.pub .cont a:hover{
    background-color: #F3F2C960;
}
