body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(231, 229, 202, 0.5);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

time {
    color: #555555;
}

article {
    margin-bottom: 60px;
    border: 1px solid #88888850;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgb(230, 219, 219);
}

article p {
    line-height: 1.5;
}

.text {
    padding: 30px;
}

article h2 {
    margin-top: 0;
    margin-bottom: 15px;
}


footer p {
    text-align: center;
    font-size: 0.85rem;
    font-style: italic;
}

footer {
    margin-bottom: 60px;
}
